body {
  background-color: #282a36;
  color: #ff79c6;
}

.card {
  border: 1px solid #6272a4;
  border-radius: 0.25rem;
}

.card-body {
  background-color: #44475a;
  border-radius: 0.25rem;
}

.btn-primary {
  color: #ff79c6;
  background-color: #282a36;
  border-color: #44475a;
}

.btn-primary:hover {
  color: #282a36;
  background-color: #ff79c6;
  border-color: #44475a;
}