// Your variable overrides
$body-bg: #282a36;
$body-color: #ff79c6;
$secondary: #44475a;

@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$third: #6272a4;

body {
  font-family: 'Raleway', sans-serif;
}

.btn {
  background-color: $body-bg;
  border: 1px solid $third;
}

.btn:hover {
  background-color: $body-color;
  color: $body-bg;
}

.card {
  background-color: $secondary;
  border-color: $third;
}